<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence:</strong>
  <%= @post.sequence %>
</p>

<p>
  <strong>First:</strong>
  <%= @post.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @post.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @post.third %>
</p>

<p>
  <strong>Fourth:</strong>
  <%= @post.fourth %>
</p>

<p>
  <strong>Fifth:</strong>
  <%= @post.fifth %>
</p>

<p>
  <strong>Sixth:</strong>
  <%= @post.sixth %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @post.bonus %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
